{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Опрос: {{ poll.title }}</h5>
            <p class="card-text"><small class="text-muted">Дата Создания: {{ poll.created_at }}</small></p>
              <div class="d-flex">
                  <a href="{% url 'question_create' poll.pk %}">Добавить вопрос</a>
                  <a href="{% url 'answer_create' poll.pk %}" class="ms-5">Пройти опрос</a>
              </div>
              {% for question in poll.question_set.all %}
                  {% include 'partials/question_detail.html' %}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
